.Encart {
  display: flex;
  padding: $spacing-small;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

.Encart__close {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 5px;
  right: $spacing-small;
  cursor: pointer;
}
