.Encart {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  p {
    flex: 1;
    height: auto;
    padding: $spacing-small 30px;
  }
}

.Encart__closed {
  transform: translateY(-100%) scaleY(0);
  transition: transform 0.3s ease-in-out;
  height: 0;
}

.Encart__close {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
}
