.Wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: $spacing-medium;
  flex-wrap: wrap;
}

.Filters {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

.Filter {
  color: $color-light;
  font-size: $font-size-small;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  cursor: pointer;
  &hover,
  &.Filter__selected {
    color: $color-dark;
    font-weight: bold;
  }
}

.Filter__separator {
  color: $color-light;
  font-size: $font-size-medium;
  margin: 0 5px;
  font-size: $spacing-small;
}
