.Filters {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 10px;
}

.Filter {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  cursor: pointer;
  &hover,
  &.Filter__selected {
    color: #191919;
  }
}

.Filter__separator {
  color: #999;
  font-size: 14px;
  margin: 0 5px;
  font-size: 10px;
}
