.Footer {
  width: 100%;
  font-family: "Karla", sans-serif;
  font-style: italic;
  background-color: black;
  padding: 20px 30px;
  flex-shrink: 0;

  a {
    font-weight: bold;
    text-decoration: underline;
    color: white;
  }
}
