.Footer {
  width: 100%;
  padding-top: 30px;
  flex-shrink: 0;
  text-align: center;
  a {
    font-weight: bold;
    color: $color-dark;
  }
}

.Footer__title {
  color: $color-dark;
  font-size: $font-size-small;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-x-small;
  text-align: center;
  svg {
    margin-right: 5px;
  }
}

.Footer__border {
  content: "";
  height: 1px;
  width: 600px;
  background-color: darken($color-golden, 5%);
  margin: auto;
}

.Footer__privacy {
  color: $color-light !important;
  font-size: $font-size-x-small;
  padding: $spacing-small;
}

.Footer__bottom {
  display: flex;
  margin: $spacing-big;
}
