.Footer {
  width: 100%;
  padding: 60px;
  flex-shrink: 0;
  text-align: center;
  a {
    font-weight: bold;
    color: #191919;
  }
}

.Footer__title {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    margin-right: 5px;
  }
}

.Footer__border {
  content: "";
  height: 1px;
  width: 600px;
  background-color: darken(#bf9b30, 5%);
  margin: auto;
}

.Footer__privacy {
  color: #999 !important;
  font-size: 8px;
}
