.Header {
  color: #191919;
  margin: 50px;
}

.Header__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header__logo {
  width: 50%;
  img {
    width: 100%;
    display: block;
  }
}

.Header__menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.Header__link {
  a {
    text-decoration: none;
    color: #191919;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
      border-bottom: #bf9b30 1px solid;
      padding-bottom: 10px;
    }
  }
}

.Header__summary {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 50px;

  &:hover {
    text-decoration: underline;
  }
}

.Header__summary__line {
  font-size: 0.8em;
}
