.Instagram__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Instagram__title {
  padding: 0 20px;
}

.Instagram__bottom__items {
  margin: $spacing-medium 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  @media screen and (max-width: 720px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  @media screen and (max-width: 320px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: row;
  }
}

.Instagram__bottom__item {
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 599px) {
  }
}

.Instagram__bottom__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
