.Instagram__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a {
    text-decoration: none;
  }
}

.Instagram__title {
  padding: 0 20px;
}

.Instagram__bottom__items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $spacing-medium 0;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width: 599px) {
    flex-wrap: wrap;
  }
}

.Instagram__bottom__item {
  width: 250px;
  cursor: pointer;
  @media screen and (max-width: 599px) {
    width: 100px;
  }
}
