.Locales {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 768px) {
    width: auto;
  }
}

.Locales__Locale {
  font-size: 14px;
  cursor: pointer;
  margin: 0 7px;
  text-decoration: none;
}

.Locales__Locale-selected {
  text-decoration: underline;
}

.homepage {
  color: white;
}

.Locales_container {
  align-self: flex-end;
  padding: 20px;
  margin-right: -90px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
