.Lookbook {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.Lookbook__photo {
  margin: 20px 0;
}

.Lookbook__collection__name {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.15em;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

.Lookbook__photo__legend {
  font-size: 0.8rem;
  color: #999;
  font-style: italic;
  text-align: center;
  padding: 20px;
}
