.Lookbook {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.Lookbook__photo {
  margin: 0 0 $spacing-medium 0;
}

.Lookbook__photo__legend {
  font-size: $font-size-medium;
  color: $color-light;
  font-style: italic;
  text-align: center;
  padding: $spacing-medium;
}
