.Menu__footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 20px 0;
  text-align: left;
  width: 600px;
}

.Menu__footer__items {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Menu__footer__item {
  a {
    text-decoration: none;
    color: #191919;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 12px;
  }
}
