.Menu__footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: $spacing-medium 100px;
  text-align: left;
  width: 100%;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    padding: $spacing-medium;
  }
}

.Menu__footer__nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: $spacing-medium auto;
  text-align: left;
  width: 100%;
  @media screen and (max-width: 768px) {
    width: 500px;
  }
  @media screen and (max-width: 320px) {
    width: 300px;
  }
}

.Menu__footer__items {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Menu__footer__item {
  a {
    text-decoration: none;
    color: $color-dark;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: $font-size-small;
  }
}
