.Menu__footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: auto;
  padding: $spacing-medium 0;
  text-align: left;
  width: 700px;
  @media screen and (max-width: 599px) {
    width: 100%;
  }
}

.Menu__footer__items {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Menu__footer__item {
  a {
    text-decoration: none;
    color: $color-dark;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: $font-size-small;
  }
}
