.Newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-big;
}

.Newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Newsletter__form__input {
  width: 100%;
  max-width: 600px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #999;
  padding: 15px;
  font-size: $font-size-big;
  margin: $spacing-small 0 $spacing-medium 0;
  &::placeholder {
    color: $color-light;
    font-size: $font-size-small;
  }
  @media screen and (max-width: 599px) {
    width: 100%;
  }
}

.Newsletter__form__button {
  background: black;
  border-color: black;
  color: #fff;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: $font-size-small;
  font-weight: 700;
  line-height: $font-size-big;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: 180px;
  cursor: pointer;
}
