.Newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: -50px;
  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}

.Newsletter__home {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 100%;
  @media screen and (max-width: 767px) {
    justify-content: center;
    right: auto;
    padding: 20px;
    bottom: 40px;
  }
  div {
    color: white;
    font-size: $font-size-big;
    text-transform: none;
    text-align: center;
  }
  .Newsletter__form__button {
    @media screen and (max-width: 576px) {
      margin-left: 150px;
    }
  }
}

.Newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: $spacing-small;
  position: relative;
}

.Newsletter__form__input {
  width: 300px;
  border: 1px solid $color-dark;
  padding: 15px;
  font-size: $font-size-medium;
  height: 50px;
  &::placeholder {
    color: $color-light;
    font-size: $font-size-small;
  }
  @media screen and (max-width: 599px) {
    width: 100%;
  }
}

.Newsletter__form__input__home {
  border: 1px solid white;
}
.Newsletter__form__button__home {
  border-color: white !important;
}

.Newsletter__form__button {
  padding: 15px;
  background: black;
  border-color: black;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  font-size: $font-size-small;
  font-weight: 700;
  line-height: $font-size-big;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  right: 0;
}
