.Product {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.Product__back {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: $spacing-medium;
  a {
    color: $color-light;
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: #191919;
    }
  }
}

.Product__details {
  display: flex;
  align-items: flex-start;
  @media screen and (max-width: 980px) {
    flex-direction: column;
    align-items: center;
  }
}

.Product__image {
  position: relative;
  border: 1px solid $color-dark;
  height: 100%;
  cursor: pointer;
  width: 50%;
  @media screen and (max-width: 980px) {
    width: 100%;
  }
}

.Product__image__selected {
  transition: filter 0.6s ease-out, opacity 0.6s ease-in;
  filter: blur(0);
  opacity: 1;
}

.Product__buy {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 25px 0 $spacing-big 0;
  justify-content: space-between;
  width: 100%;
  @media screen and (min-width: 980px) {
    padding: 0 $spacing-medium;
  }
}

.Product__title {
  font-weight: bold;
  text-decoration: none;
  color: #191919;
  font-size: $font-size-big;
  text-transform: uppercase;
}

.Product__linkedproducts__title {
  font-weight: bold;
  text-decoration: none;
  color: #191919;
  font-size: $font-size-big;
  text-transform: uppercase;
  text-align: center;
}

.Product__price {
  font-size: 0.8em;
  font-weight: normal;
  color: $color-light;
  font-size: $font-size-big;
}

.Product__size {
  font-size: $font-size-medium;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.Product__size__item {
  padding: 0 5px;
  color: $color-light;
}

.Product__size__available {
  color: #191919;
  cursor: pointer;
}

.Product__size__selected,
.Product__size__available:hover {
  border-bottom: 1px solid black;
}

.Product__button {
  text-align: center;
  text-transform: uppercase;
  padding: $spacing-small $spacing-medium;
  position: relative;
  margin-top: $spacing-medium;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border: 1px solid $color-dark;
  &:hover {
    background-color: white;
    color: $color-dark;
  }
}

.Product__button__disabled {
  color: $color-light;
  border: 1px solid $color-light;
  background-color: white;
  &:hover {
    text-decoration: none;
    color: $color-light;
    border: 1px solid $color-light;
    background-color: white;
    cursor: inherit;
  }
}

.Product__outofstock {
  font-size: $font-size-medium;
  color: $color-dark;
  font-weight: bold;
}

.Product__description,
.Product__characteristics {
  font-size: $font-size-medium;
  font-weight: normal;
  margin-top: $spacing-medium;
}

.Product__description,
.Product__size {
  color: $color-dark;
}

.Product__characteristics {
  ul li {
    padding: 5px 0;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }
  p {
    color: $color-dark;
    font-size: $font-size-small;
    strong {
      font-weight: bold;
    }
  }
  em {
    font-style: italic;
  }
}

.Product__info {
  margin: $spacing-big + $spacing-small 0;
  @media screen and (max-width: 980px) {
    margin: $spacing-medium 0;
  }
}

.Product__info__title {
  flex: 1;
  padding: $spacing-small 0 $spacing-medium 0;
  font-weight: bold;
  text-decoration: none;
  color: #191919;
  font-size: $font-size-big;
  text-transform: uppercase;
  text-align: center;
}

.Product__info__subtitle {
  text-transform: uppercase;
  text-align: center;
  line-height: 16px;
}

.Product__info__item {
  flex: 1;
  padding: $spacing-small 0;
}

.Product__info__content {
  padding: 0 $spacing-small;
  ul li {
    padding: 5px 0;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }
  p {
    color: $color-dark;
    margin: $spacing-medium 0;
    strong {
      font-weight: bold;
    }
  }
  em {
    font-style: italic;
  }
  h3 {
    text-decoration: none;
    color: #191919;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: $font-size-medium;
  }
}

.Product__linkedproducts {
  display: flex;
  margin-top: $spacing-medium;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 599px) {
    flex-direction: column;
  }
}

ul.react-tabs__tab-list {
  display: flex;
  li.react-tabs__tab {
    flex: 1;
    list-style: none !important;
    list-style-type: none !important;
    padding: 10px !important;
  }
}

.react-tabs {
  min-height: 200px;
}
