.Product {
  padding: 0 50px;
  margin: 0 auto 60px auto;
  max-width: 1000px;
}

.Product__back {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 10px;
  a {
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: #191919;
    }
  }
}

.Product__details {
  display: flex;
}

.Product__image {
  width: 66%;
  position: relative;
  cursor: pointer;
}

.Product__image__selected {
  transition: filter 0.6s ease-out, opacity 0.6s ease-in;
  filter: blur(0);
  opacity: 1;
}

.Product__buy {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px;
  justify-content: space-between;
}

.Product__title {
  font-weight: bold;
  text-decoration: none;
  color: #191919;
}

.Product__price {
  font-size: 0.8em;
  font-weight: normal;
  color: #999;
}

.Product__size {
  font-size: 0.8em;
}

.Product__size__item {
  padding: 0 5px;
  color: #999;
}

.Product__size__available {
  color: #191919;
}

.Product__button {
  text-align: center;
  text-transform: uppercase;
  color: #191919;
  padding: 10px 20px;
  position: relative;
  font-weight: bold;
  border: 1px solid black;
  &:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    cursor: pointer;
  }
}

.Product__button__disabled {
  color: #999;
  border: 1px solid #999;
  &:hover {
    text-decoration: none;
    color: #999;
    border: 1px solid #999;
    background-color: white;
    cursor: inherit;
  }
}

.Product__outofstock {
  font-size: 0.8em;
}

.Product__description,
.Product__characteristics {
  font-size: 0.8em;
  font-weight: normal;
  color: #999;
}

.Product__characteristics {
  ul li {
    padding: 5px 0;
  }
}

.Product__info {
  margin: 40px 0;
  color: #999;
}

.Product__info__item {
  flex: 1;
  padding: 10px 0;
}
.Product__info__title {
}

.Product__info__content {
  font-size: 0.8em;
  font-style: italic;
}

.Product__linkedproducts {
  display: flex;
  margin-top: 20px;
}
