.Product {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.Product__back {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: $spacing-small;
  a {
    color: $color-light;
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: #191919;
    }
  }
}

.Product__details {
  display: flex;
  @media screen and (max-width: 980px) {
    flex-direction: column;
  }
}

.Product__image {
  width: 50%;
  position: relative;
  cursor: pointer;
  @media screen and (max-width: 980px) {
    width: 100%;
  }
}

.Product__image__selected {
  transition: filter 0.6s ease-out, opacity 0.6s ease-in;
  filter: blur(0);
  opacity: 1;
}

.Product__buy {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: $spacing-big;
  justify-content: space-between;
  @media screen and (max-width: 599px) {
    padding: $spacing-medium;
  }
  @media screen and (max-width: 980px) {
    padding: $spacing-medium 0;
  }
}

.Product__title {
  font-weight: bold;
  text-decoration: none;
  color: #191919;
}

.Product__price {
  font-size: 0.8em;
  font-weight: normal;
  color: $color-light;
}

.Product__size {
  font-size: 0.8em;
}

.Product__size__item {
  padding: 0 5px;
  color: $color-light;
}

.Product__size__available {
  color: #191919;
}

.Product__button {
  text-align: center;
  text-transform: uppercase;
  color: #191919;
  padding: $spacing-small $spacing-medium;
  position: relative;
  font-weight: bold;
  border: 1px solid black;
  margin: $spacing-medium 0;
  background-color: white;
  &:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  @media screen and (max-width: 599px) {
  }
}

.Product__button__disabled {
  color: $color-light;
  border: 1px solid $color-light;
  &:hover {
    text-decoration: none;
    color: $color-light;
    border: 1px solid $color-light;
    background-color: white;
    cursor: inherit;
  }
}

.Product__outofstock {
  font-size: 0.8em;
}

.Product__description,
.Product__characteristics {
  font-size: 0.8em;
  font-weight: normal;
  color: $color-light;
}

.Product__characteristics {
  ul li {
    padding: 5px 0;
  }
}

.Product__info {
  color: $color-light;
  @media screen and (max-width: 599px) {
    margin: 0;
  }
}

.Product__info__item {
  flex: 1;
  padding: $spacing-small 0;
}

.Product__info__content {
  font-size: 0.8em;
  font-style: italic;
}

.Product__linkedproducts {
  display: flex;
  margin-top: $spacing-medium;
  justify-content: space-around;
  flex-wrap: wrap;
  @media screen and (max-width: 599px) {
    flex-direction: column;
  }
}
