.Select {
  width: 100%;
  color: #2d2d2d;
  border: solid 1px #999;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-shadow: none;
  text-align: start;
  display: flex;
  align-items: baseline;
}

.Select__size {
  display: block;
  padding: 0.6em 1.4em 0.5em 0.8em;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  border: none;
  background-color: #fff;
  font-size: $font-size-medium;
  -webkit-appearance: none;
  background: #fff url('../assets/chevron.svg') no-repeat right 12px center;
  padding: 7px 10% 7px 8px;
  border-radius: 0;
  width: 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: $color-dark;
  background-color: #fff;
}
.select-css:focus {
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
  border-color: $color-dark;
  background-color: #fff;
  border-radius: 0;
}
.select-css option {
  font-weight: normal;
}
