@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.Slider {
  .Slider__slides {
    width: 500px;
    height: 500px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    @media screen and (max-width: 980px) {
      width: 500px;
    }
    @media screen and (max-width: 576px) {
      width: 360px;
    }
    @media screen and (max-width: 375px) {
      overflow-x: auto;
      width: 300px;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      .slides > div {
        scroll-snap-align: start;
      }
    }
  }
  .Slider__slide {
    width: 500px;
    flex-shrink: 0;
    height: 600px;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
    .Slider__image {
      border: 1px solid #191919;
    }
  }

  .Slider__dots {
    display: flex;
    flex-basis: row wrap;
    justify-content: center;
    width: 100%;
    margin-top: $spacing-small;
  }

  .Slider__dot {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    margin: 0 4px;
    opacity: 0.3;
    cursor: pointer;
  }
  .Slider__dot__selected,
  .Slider__dot:hover {
    opacity: 1;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
