.Snipcart {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    right: $spacing-big;
    top: $spacing-medium;
  }
}

.snip-layout__main-container {
  font-family: $font-text;
}

#snipcart-current-user {
  &:before {
    content: "";
    background: url("../assets/logo.png");
    width: 300px;
    height: 225px;
    display: block;
    margin: auto;
  }
}

.snip-product__empty {
  padding: 6em 2em;
}

.snip-footer {
  position: absolute;
  bottom: 0;
}

.Snipcart__quantity {
  font-size: $font-size-medium;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-color: black;
  color: white;
  width: $spacing-medium;
  height: $spacing-medium;
  @media screen and (max-width: 767px) {
    top: 5px;
    right: 15px;
  }
}

.snipcart_custom_Taille {
  min-width: 50px;
}

.Snipcart__price {
  font-size: $font-size-medium;
  color: $color-light;
}

.Snipcart__icon {
  width: 30px;
  height: 30px;
}

.snip-layout.snip-layout {
  * {
    font-family: $font-text;
    color: $color-dark;
  }

  .snip-layout__close {
    color: $color-dark;
  }

  .snip-layout__main-container {
    border: 1px solid black !important;
  }

  .snip-header,
  .snip-footer {
    background: transparent;
  }

  .snip-header__user {
    background: transparent;
  }

  .snip-header__user-mail {
    color: $color-dark;
  }

  .snip-header__title {
    font-family: $font-title;
    letter-spacing: 0.15em;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $spacing-medium;
    color: $color-dark;
  }

  .snip-product__name {
    text-transform: none;
  }

  .snip-product__empty {
    text-transform: none;
  }

  .snip-layout__main-container {
    border: 2px solid black;
    padding: 3px;
  }

  .snip-header__total {
    color: white;
    span {
      color: white;
    }
  }

  .snip-quantity-trigger {
    align-items: baseline;
  }

  .snip-quantity-trigger__btn {
    background-color: transparent;
  }

  .snip-product__remove {
    color: black;
  }

  .snip-btn--highlight {
    background: darken($color-golden, 5%);
    color: white;
  }
}
