.Snipcart {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 40px;
  &:hover {
    text-decoration: none;
  }
}

.Snipcart__quantity {
  font-size: 0.8rem;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-color: black;
  color: white;
  width: 20px;
  height: 20px;
}

.Snipcart__price {
  font-size: 0.8rem;
  color: #999;
}

.Snipcart__icon {
  width: 30px;
  height: 30px;
}

.snip-layout.snip-layout {
  * {
    font-family: "Karla", sans-serif;
    color: #191919;
  }

  .snip-layout__close {
    color: #191919;
  }

  .snip-layout__main-container {
    border: 1px solid black !important;
  }

  .snip-header,
  .snip-footer {
    background: transparent;
  }

  .snip-header__user {
    background: transparent;
  }

  .snip-header__user-mail {
    color: #191919;
  }

  .snip-product__name {
    text-transform: none;
  }

  .snip-product__empty {
    text-transform: none;
  }

  .snip-layout__main-container {
    border: 2px solid black;
    padding: 3px;
  }

  .snip-header__total {
    color: white;
    span {
      color: white;
    }
  }

  .snip-quantity-trigger {
    align-items: baseline;
  }

  .snip-quantity-trigger__btn {
    background-color: transparent;
  }

  .snip-product__remove {
    color: black;
  }

  .snip-btn--highlight {
    background: darken(#bf9b30, 5%);
    color: white;
  }
}
