$font-text: "Karla", sans-serif;
$font-title: "Oswald", sans-serif;

$font-size-x-small: 0.625rem; // 8px
$font-size-small: 0.75rem; // 12px
$font-size-medium: 0.875rem; // 14px
$font-size-big: 1.125rem; //18px
$font-size-title: 1.875rem; //30px

$color-dark: #191919;
$color-light: #999;
$color-golden: #bf9b30;

$spacing-x-small: 5px;
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-big: 40px;
