.Toastify__toast {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 30px;
    font-size: $font-size-medium;
    min-height: 80px;
}

.Toastify__close-button {
    color: white;
    opacity: 1;
}