@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.Wrap {
  padding: 0 50px;
  flex-grow: 1;
  flex-shrink: 0;
  transition: transform 1s ease 0s, opacity 0.8s ease 0s;
  transform: none;
  opacity: 1;
  @media screen and (max-width: 767px) {
    margin-top: $spacing-big;
    max-width: 100%;
    padding: 10px 20px;
    max-width: 100%;
  }
  @media screen and (min-width: 768px) {
    max-width: 85%;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1000px;
  }
}

.Content {
  color: $color-light;
  font-size: $font-size-medium;
  width: 100%;
  ul li {
    padding: 0 5px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }
  ol {
    list-style-type: decimal;
    padding-left: $spacing-small;
  }
  p {
    color: $color-light;
    margin: 15px 0;
    strong {
      font-weight: bold;
    }
  }
  em {
    font-style: italic;
    strong {
      font-weight: bold;
    }
  }
  h3 {
    text-decoration: none;
    color: #191919;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: $font-size-medium;
    font-weight: bold;
  }
  blockquote {
    font-size: $font-size-big;
    width: 80%;
    margin: $spacing-medium auto;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    line-height: 1.6;
    position: relative;
    @media screen and (max-width: 767px) {
      width: 100%;
      font-size: $font-size-medium;
    }
  }
  blockquote::before {
    content: '\201C';
    color: $color-golden;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
  }
}

.Title {
  font-family: $font-title;
  letter-spacing: 0.15em;
  font-size: $font-size-title;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: $spacing-medium;
  color: $color-dark;
  // background-color: $color-title;
  padding: 20px;
  // clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
}

.Subtitle {
  text-decoration: none;
  color: $color-dark;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: $font-size-medium;
}

.cc-icon {
  display: none !important;
}
