.Wrap {
  padding: 0 50px;
  flex-grow: 1;
  flex-shrink: 0;
  @media screen and (max-width: 599px) {
    margin-top: $spacing-medium;
    max-width: 100%;
    padding: 10px 20px;
  }
  @media screen and (min-width: 600px) {
    max-width: 80%;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1000px;
  }
}

.Content {
  color: $color-light;
  font-size: $font-size-medium;
  p {
    margin: $spacing-small 0;
  }
}

.Title {
  font-family: $font-title;
  letter-spacing: 0.15em;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: $spacing-medium;
  color: $color-dark;
}

.Subtitle {
  text-decoration: none;
  color: $color-dark;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: $font-size-small;
}
